<!-- test XML format for VMM2 config file -->
<configuration>
	<udp_setup>
		<fec_port>6007</fec_port>
		<daq_port>6006</daq_port>
		<vmmasic_port>6603</vmmasic_port>
		<vmmapp_port>6600</vmmapp_port>
		<s6_port>6602</s6_port>
	</udp_setup>
	<general_info>
		<config_version>0.1</config_version>
		<vmm_id>L115</vmm_id>
		<!--<ip>10.0.0.2</ip>-->
        <ip>127.0.0.1</ip>
		<comment>This is a config file</comment>
		<debug>off</debug>
	</general_info>
	<trigger_daq>
		<tp_delay>81</tp.delay>
		<trigger_period>3FFFE</trigger_period>
		<acq_sync>100</acq_sync>
		<acq_window>4096</acq_window>
        <bcid_reset>0</bcid_reset>
		<run_mode>external</run_mode>
		<run_count>20</run_count>
        <ignore16>off</ignore16>
        <mapping_file>mini2_map.txt</mapping_file>
        <output_path>/Users/dantrim/workarea/NSW/VMMReadout/restructure/</output_path>
		<output_filename>tmp.txt</output_filename>
	</trigger_daq>
	<channel_map>
		<hdmi_1>
			<switch>on</switch>
			<first>1</first>
			<second>1</second>
            <art>0</art>
		</hdmi_1>
		<hdmi_2>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_2>
		<hdmi_3>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_3>
		<hdmi_4>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_4>
		<hdmi_5>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_5>
		<hdmi_6>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_6>
		<hdmi_7>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_7>
		<hdmi_8>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
            <art>0</art>
		</hdmi_8>
	</channel_map>
	<global_settings>
		<ch_polarity>strips</ch_polarity>
		<ch_leakage_current>disabled</ch_leakage_current>
		<analog_tristates>off</analog_tristates>
		<double_leakage>on</double_leakage>
		<gain>3.0</gain>
		<peak_time>200</peak_time>
		<neighbor_trigger>off</neighbor_trigger>
		<TAC_slop_adj>125</TAC_slop_adj>
		<disable_at_peak>off</disable_at_peak>
		<ART>on</ART>
		<ART_mode>threshold</ART_mode>
		<dual_clock_ART>off</dual_clock_ART>
		<out_buffer_mo>off</out_buffer_mo>
		<out_buffer_pdo>off</out_buffer_pdo>
		<out_buffer_tdo>off</out_buffer_tdo>
		<channel_monitoring>0</channel_monitoring>
		<monitoring_control>on</monitoring_control>
		<monitor_pdo_out>off</monitor_pdo_out>
		<ADCs>on</ADCs>
		<sub_hyst_discr>off</sub_hyst_discr>
		<direct_time>off</direct_time>
		<direct_time_mode>ToT</direct_time_mode>
		<conv_mode_8bit>on</conv_mode_8bit>
		<enable_6bit>off</enable_6bit>
		<ADC_10bit>200ns</ADC_10bit>
		<ADC_8bit>100ns</ADC_8bit>
		<ADC_6bit>low</ADC_6bit>
		<dual_clock_data>off</dual_clock_data>
		<dual_clock_6bit>off</dual_clock_6bit>
		<threshold_DAC>100</threshold_DAC>
		<test_pulse_DAC>600</test_pulse_DAC>
	</global_settings>
	<channel_00>
		<polarity>strips</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>on</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_00>
	<channel_01>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_01>
	<channel_02>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_02>
	<channel_03>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_03>
	<channel_04>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_04>
	<channel_05>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_05>
	<channel_06>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_06>
	<channel_07>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_07>
	<channel_08>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_08>
	<channel_09>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_09>
	<channel_10>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_10>
	<channel_11>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_11>
	<channel_12>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_12>
	<channel_13>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_13>
	<channel_14>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_14>
	<channel_15>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_15>
	<channel_16>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_16>
	<channel_17>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_17>
	<channel_18>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_18>
	<channel_19>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_19>
	<channel_20>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_20>
	<channel_21>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_21>
	<channel_22>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_22>
	<channel_23>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_23>
	<channel_24>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_24>
	<channel_25>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_25>
	<channel_26>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_26>
	<channel_27>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_27>
	<channel_28>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_28>
	<channel_29>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_29>
	<channel_30>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_30>
	<channel_31>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_31>
	<channel_32>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_32>
	<channel_33>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_33>
	<channel_34>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_34>
	<channel_35>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_35>
	<channel_36>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_36>
	<channel_37>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_37>
	<channel_38>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_38>
	<channel_39>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_39>
	<channel_40>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_40>
	<channel_41>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_41>
	<channel_42>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_42>
	<channel_43>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_43>
	<channel_44>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_44>
	<channel_45>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_45>
	<channel_46>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_46>
	<channel_47>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_47>
	<channel_48>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_48>
	<channel_49>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_49>
	<channel_50>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_50>
	<channel_51>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_51>
	<channel_52>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_52>
	<channel_53>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_53>
	<channel_54>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_54>
	<channel_55>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_55>
	<channel_56>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_56>
	<channel_57>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_57>
	<channel_58>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_58>
	<channel_59>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_59>
	<channel_60>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_60>
	<channel_61>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_61>
	<channel_62>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_62>
	<channel_63>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage_current>enabled</leakage_current>
		<test_pulse>off</test_pulse>
		<hidden_mode>off</hidden_mode>
		<trim>0</trim>
		<monitor_mode>off</monitor_mode>
		<s10bADC_time_set>10</s10bADC_time_set>
		<s08bADC_time_set>0</s08bADC_time_set>
		<s06bADC_time_set>0</s06bADC_time_set>
	</channel_63>
</configuration>
