<!-- test XML format for VMM2 config file -->
<configuration>
	<udp.setup>
		<fec.port>6007</fec.port>
		<daq.port>6006</daq.port>
		<vmmasic.port>6603</vmmasic.port>
		<vmmapp.port>6600</vmmapp.port>
		<s6.port>6602</s6.port>
	</udp.setup>
	<general.info>
		<config.version>0.1</config.version>
		<vmm.id>L115</vmm.id>
		<ip>10.0.0.2</ip>
		<comment>This is a config file</comment>
		<debug>off</debug>
	</general.info>
	<trigger.daq>
		<tp.delay>81</tp.delay>
		<trigger.period>3FFFE</trigger.period>
		<acq.sync>100</acq.sync>
		<acq.window>4096</acq.window>
		<run.mode>pulser</run.mode>
		<run.count>20</run.count>
		<output.path>/Users/dantrim/Desktop/</output.path>
		<output.filename>tmp.txt</output.filename>
	</trigger.daq>
	<channel.map>
		<hdmi.1>
			<switch>on</switch>
			<first>1</first>
			<second>1</second>
		</hdmi.1>
		<hdmi.2>
			<switch>on</switch>
			<first>1</first>
			<second>1</second>
		</hdmi.2>
		<hdmi.3>
			<switch>on</switch>
			<first>0</first>
			<second>1</second>
		</hdmi.3>
		<hdmi.4>
			<switch>on</switch>
			<first>0</first>
			<second>0</second>
		</hdmi.4>
		<hdmi.5>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
		</hdmi.5>
		<hdmi.6>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
		</hdmi.6>
		<hdmi.7>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
		</hdmi.7>
		<hdmi.8>
			<switch>off</switch>
			<first>0</first>
			<second>0</second>
		</hdmi.8>
	</channel.map>
	<global.settings>
		<ch.polarity>strips</ch.polarity>
		<ch.leakage.current>disabled</ch.leakage.current>
		<analog.tristates>off</analog.tristates>
		<double.leakage>on</double.leakage>
		<gain>3.0</gain>
		<peak.time>200</peak.time>
		<neighbor.trigger>off</neighbor.trigger>
		<TAC.slop.adj>125</TAC.slop.adj>
		<disable.at.peak>off</disable.at.peak>
		<ART>on</ART>
		<ART.mode>threshold</ART.mode>
		<dual.clock.ART>off</dual.clock.ART>
		<out.buffer.mo>off</out.buffer.mo>
		<out.buffer.pdo>off</out.buffer.pdo>
		<out.buffer.tdo>off</out.buffer.tdo>
		<channel.monitoring>0</channel.monitoring>
		<monitoring.control>on</monitoring.control>
		<monitor.pdo.out>off</monitor.pdo.out>
		<ADCs>on</ADCs>
		<sub.hyst.discr>off</sub.hyst.discr>
		<direct.time>off</direct.time>
		<direct.time.mode>ToT</direct.time.mode>
		<conv.mode.8bit>on</conv.mode.8bit>
		<enable.6bit>off</enable.6bit>
		<ADC.10bit>200ns</ADC.10bit>
		<ADC.8bit>100ns</ADC.8bit>
		<ADC.6bit>low</ADC.6bit>
		<dual.clock.data>off</dual.clock.data>
		<dual.clock.6bit>off</dual.clock.6bit>
		<threshold.DAC>100</threshold.DAC>
		<test.pulse.DAC>600</test.pulse.DAC>
	</global.settings>
	<channel.00>
		<polarity>strips</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>on</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.00>
	<channel.01>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.01>
	<channel.02>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.02>
	<channel.03>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.03>
	<channel.04>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.04>
	<channel.05>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.05>
	<channel.06>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.06>
	<channel.07>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.07>
	<channel.08>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.08>
	<channel.09>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.09>
	<channel.10>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.10>
	<channel.11>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.11>
	<channel.12>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.12>
	<channel.13>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.13>
	<channel.14>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.14>
	<channel.15>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.15>
	<channel.16>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.16>
	<channel.17>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.17>
	<channel.18>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.18>
	<channel.19>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.19>
	<channel.20>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.20>
	<channel.21>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.21>
	<channel.22>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.22>
	<channel.23>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.23>
	<channel.24>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.24>
	<channel.25>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.25>
	<channel.26>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.26>
	<channel.27>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.27>
	<channel.28>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.28>
	<channel.29>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.29>
	<channel.30>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.30>
	<channel.31>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.31>
	<channel.32>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.32>
	<channel.33>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.33>
	<channel.34>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.34>
	<channel.35>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.35>
	<channel.36>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.36>
	<channel.37>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.37>
	<channel.38>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.38>
	<channel.39>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.39>
	<channel.40>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.40>
	<channel.41>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.41>
	<channel.42>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.42>
	<channel.43>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.43>
	<channel.44>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.44>
	<channel.45>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.45>
	<channel.46>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.46>
	<channel.47>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.47>
	<channel.48>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.48>
	<channel.49>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.49>
	<channel.50>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.50>
	<channel.51>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.51>
	<channel.52>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.52>
	<channel.53>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.53>
	<channel.54>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.54>
	<channel.55>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.55>
	<channel.56>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.56>
	<channel.57>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.57>
	<channel.58>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.58>
	<channel.59>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.59>
	<channel.60>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.60>
	<channel.61>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.61>
	<channel.62>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.62>
	<channel.63>
		<polarity>wires</polarity>
		<capacitance>off</capacitance>
		<leakage.current>enabled</leakage.current>
		<test.pulse>off</test.pulse>
		<hidden.mode>off</hidden.mode>
		<trim>0</trim>
		<monitor.mode>off</monitor.mode>
		<s10bADC.time.set>10</s10bADC.time.set>
		<s08bADC.time.set>0</s08bADC.time.set>
		<s06bADC.time.set>0</s06bADC.time.set>
	</channel.63>
</configuration>
